:root {
    --kapur: #00FF00; 
    --bg: #5980c8;
    --Honeydew: #F0FFF0;
    --midnightblue: #191970;
    --shadow: 0 2px 2px rgb(0  0 0 / 0.05);
}

body{
    font-size: 1.2rem;
    font-family: 'Calligraffitti', cursive;
    min-height: 4000px;
}

.hero::before {
    content: '';
    position:absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(img/birthday_man.jpg);
    background-size: cover;
    background-position: center;
    z-index: -1;
    filter: grayscale();

}

.hero h1, .hero h4, .hero p{
    text-shadow: var(--shadow);
}

.hero{
    position: relative;
    min-height: 100vh;
}

.hero h1 {
    
    font-family: 'Fredericka the Great', serif;
    font-size: 5rem;
    color: pink;
} 

.hero p {
    font-size: 2rem;
    color: pink;
    font-weight: bold;
}
.hero h4{
    font-size: 1.6rem;
    color: pink;
    font-weight: bold;
}

.hero a {
    color : var(--kapur);
    background-color: var(--bg);
    box-shadow: var(--shadow);
}
.hero a:hover{
    background-color: pink;
    color:white;
}

.mynavbar{

}

.mynavbar .navbar.brand
.mynavbar .offcanvas-title{
    font-family: 'Sacramento', cursive;
    font-size: 3.2rem;
    font-weight: bold;
}

.mynavbar .nav-link{
    /* font-weight: 600; ketebalan font  */ 
    text-transform: uppercase;
}



/* Media Query */
/* Laptop */
@media(max-width: 992px){
    html{
        font-size: 75%;
        
    }

}
.simply-countdown>.simply-section {
    padding: 65px;
}

/* Tablet */
@media(max-width: 768px){
    html{
        font-size: 65%;
    }
    .mynavbar .nav-link{

        font-size: 1.5rem;
    }
    

}

.simply-countdown>.simply-section {
    padding: 55px;
    margin: 5px;
}

/* Smart phone */
@media(max-width: 576px){
    html{
        font-size: 60%;
    }

}

.simply-countdown>.simply-section {
    padding: 45px;
    margin: 3px ;
    
}

